body {
    padding: 0;
    padding-top: 65px; 
    margin: 0;
    background-color: #EBFF00;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}

.tilt {
    
    width: 85px;
    height: 85px;
    bottom: 0;
    background-color: #37003C;
    margin: 35px;
    position: fixed;
    transform-style: preserve-3d;
}

#sketch-holder {
    position: fixed;
    transform: translateZ(20px);
}

.tilt p {
    font-size: 30px;
    color: #32F3CE;
    bottom: 0;
    right: 15px;
}
/* Temporarily removing paragraphs*/

#what-we-do, #about-us, #coordinators{
    display: none;
}

em {
    font-weight: 700;
    font-style: normal;
}

div .row {
    padding-top: 100px; 
}

.pdl-logo {
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
    font-weight: 700;
}

.social-media {
    font-size: 20px;
}